<ion-header>
  <ion-toolbar>
    <ion-title>friends</ion-title>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
 
</ion-header>


<ion-content >
    <ion-card>
        <ion-img src="/assets/images/alb.png"></ion-img>
        <ion-card-header>
            <ion-card-title>Alberto</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>24, Guadalajara,jal</p>
            <p>Ama los gatos</p>
            <p>Reservado, introvertido</p>
        </ion-card-content>
    </ion-card>

</ion-content>
