<ion-header>
  <ion-toolbar>
    <ion-title>friends</ion-title>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
 
</ion-header>


<ion-content >
    <ion-card>
        <ion-img src="/assets/images/alb.png"></ion-img>
        <ion-card-header>
            <ion-card-title>Alberto</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>24, Guadalajara,jal</p>
            <p>Ama los gatos</p>
            <p>Reservado, introvertido</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-img src="/assets/images/abi.png"></ion-img>
        <ion-card-header>
            <ion-card-title>Aracely</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>23, Guadalajara,jal</p>
            <p>Habla con todos</p>
            <p>Extrovertida, anda en bici</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-img src="/assets/images/ivi.png"></ion-img>
        <ion-card-header>
            <ion-card-title>Ivan</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>25, Guadalajara,jal</p>
            <p>Callado, videojuegos.</p>
            <p>Guapo, timido</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-img src="/assets/images/sol.png"></ion-img>
        <ion-card-header>
            <ion-card-title>Soledad</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>26, Guadalajara,jal</p>
            <p>Ama los perritos</p>
            <p>Dibuja, pinta y le gusta el arte plastico</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-img src="/assets/images/lui.png"></ion-img>
        <ion-card-header>
            <ion-card-title>luismi</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>21, Guadalajara,jal</p>
            <p>gracioso, amable</p>
            <p>Videojuegos, animacion y anime</p>
        </ion-card-content>
    </ion-card>

</ion-content>
