<ion-header>
  <ion-toolbar color = "secondary">
    <ion-title text-center>
     ♥ Contact ♥
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Alberto
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <ion-icon name="call" slot="start"></ion-icon>
        tel: 3635698714
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>
        Emilia
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <ion-icon name="call" slot="start"></ion-icon>
        tel: 3385145269
        emi.145@hotmail.com
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Luismi
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <ion-icon name="call" slot="start"></ion-icon>
        tel: 3325698741
        luismi.oc@gmail.com
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>
         Ivan
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <ion-icon name="call" slot="start"></ion-icon>
        tel: 3358692410
        ivi155_lop@gmail.com
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Soledad
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <ion-icon name="call" slot="start"></ion-icon>
        tel: 3317859420
        sol.lop@hotmail.com
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Aracely
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <ion-icon name="call" slot="start"></ion-icon>
        tel: 3315965841
        anie.64@gmail.com
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>