// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
$font-path: "../assets/fonts";

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "ionic.globals";

$colors: (
  primary:    #F5A9F2,
  secondary:  #CEF6CE,
  danger:     #A9E2F3,
  light:      #FBEFF8,
  dark:       #F5F6CE,
  Tipo3:       #424242
);
@import "ionic.theme.default";
@import "ionic.ionicons";
