<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-card>
    <ion-img src="/assets/images/cuarto2.gif"></ion-img>
    <ion-card-header>
        <ion-card-title>Amidex</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>Puedes guardar tus amigos de todo el mundo</p>
        
    </ion-card-content>
  
</ion-card>
<ion-card>
  <ion-img src="/assets/images/cuarto.gif"></ion-img>
  <ion-card-header>
      <ion-card-title>Descubre su disponibilidad ahora</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <p>♥♥♥</p>
      
  </ion-card-content>

</ion-card>

</ion-content>
